.wrapper {
  perspective: 10px;
}

.parallax {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-20px) scale(3);
  transform-style: preserve-3d;
  z-index: -1;
}
